<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">

      <div class="row">
        <div class="col-lg-6">
          <div class="ibox ">
            <div class="ibox-title">
              <h5>Ranking de usuários por área de negócio</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content table-responsive">
              <table class="table table-hover no-margins">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Data</th>
                    <th>Usuário</th>
                    <th>Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><small>Pendente...</small></td>
                    <td><i class="fa fa-clock-o"></i> 11:20pm</td>
                    <td>Samantha</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 24% </td>
                  </tr>
                  <tr>
                    <td><span class="label label-warning">Cancelado</span> </td>
                    <td><i class="fa fa-clock-o"></i> 10:40am</td>
                    <td>Monica</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 66% </td>
                  </tr>
                  <tr>
                    <td><small>Pendente...</small> </td>
                    <td><i class="fa fa-clock-o"></i> 01:30pm</td>
                    <td>John</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 54% </td>
                  </tr>
                  <tr>
                    <td><small>Pendente...</small> </td>
                    <td><i class="fa fa-clock-o"></i> 02:20pm</td>
                    <td>Agnes</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 12% </td>
                  </tr>
                  <tr>
                    <td><small>Pendente...</small> </td>
                    <td><i class="fa fa-clock-o"></i> 12:08am</td>
                    <td>João Paulo</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 23% </td>
                  </tr>
                  <tr>
                    <td><small>Pendente...</small> </td>
                    <td><i class="fa fa-clock-o"></i> 09:40pm</td>
                    <td>Janet</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 22% </td>
                  </tr>
                  <tr>
                    <td><span class="label label-primary">Completo</span> </td>
                    <td><i class="fa fa-clock-o"></i> 04:10am</td>
                    <td>Amelia</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 66% </td>
                  </tr>
                  <tr>
                    <td><small>Pendente...</small> </td>
                    <td><i class="fa fa-clock-o"></i> 12:08am</td>
                    <td>Damian</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 23% </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ibox ">
            <div class="ibox-title">
              <h5>Meu Resumo Demandas</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <ul class="todo-list m-t small-list">
                <li>
                  <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                  <span class="m-l-xs todo-completed">Item de uma lista</span>

                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                  <span class="m-l-xs">Item de uma lista</span>

                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                  <span class="m-l-xs">Item de uma lista</span>
                  <small class="label label-primary"><i class="fa fa-clock-o"></i> 1
                    mins</small>
                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                  <span class="m-l-xs">Mais um item de uma lista</span>
                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                  <span class="m-l-xs todo-completed">Item de uma lista</span>
                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                  <span class="m-l-xs">Item de uma lista</span>
                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                  <span class="m-l-xs">Outro item de uma lista qualquer</span>
                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                  <span class="m-l-xs">Item de uma lista</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="ibox ">
            <div class="ibox-title">
              <h5>Top 10 Demandas em Processo por Status</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content table-responsive">
              <table class="table table-hover no-margins">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Usuário</th>
                    <th>Valores</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><small>Pendente...</small></td>
                    <td><i class="fa fa-clock-o"></i> 11:20pm</td>
                    <td>Samantha</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 24% </td>
                  </tr>
                  <tr>
                    <td><span class="label label-warning">Cancelado</span> </td>
                    <td><i class="fa fa-clock-o"></i> 10:40am</td>
                    <td>Monica</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 66% </td>
                  </tr>
                  <tr>
                    <td><small>Pendente...</small> </td>
                    <td><i class="fa fa-clock-o"></i> 01:30pm</td>
                    <td>John</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 54% </td>
                  </tr>
                  <tr>
                    <td><small>Pendente...</small> </td>
                    <td><i class="fa fa-clock-o"></i> 02:20pm</td>
                    <td>Agnes</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 12% </td>
                  </tr>
                  <tr>
                    <td><small>Pendente...</small> </td>
                    <td><i class="fa fa-clock-o"></i> 09:40pm</td>
                    <td>Janet</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 22% </td>
                  </tr>
                  <tr>
                    <td><span class="label label-primary">Completo</span> </td>
                    <td><i class="fa fa-clock-o"></i> 04:10am</td>
                    <td>Amelia</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 66% </td>
                  </tr>
                  <tr>
                    <td><small>Pendente...</small> </td>
                    <td><i class="fa fa-clock-o"></i> 12:08am</td>
                    <td>João Paulo</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 23% </td>
                  </tr>
                  <tr>
                    <td><small>Pendente...</small> </td>
                    <td><i class="fa fa-clock-o"></i> 12:08am</td>
                    <td>João Pereira</td>
                    <td class="text-navy"> <i class="fa fa-level-up"></i> 23% </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ibox ">
            <div class="ibox-title">
              <h5>Top 10 Agências em Processo</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <ul class="todo-list m-t small-list">
                <li>
                  <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                  <span class="m-l-xs todo-completed">Item de uma lista</span>

                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                  <span class="m-l-xs">Item de uma lista</span>

                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                  <span class="m-l-xs">Item de uma lista</span>
                  <small class="label label-primary"><i class="fa fa-clock-o"></i> 1
                    mins</small>
                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                  <span class="m-l-xs">Mais um item de uma lista</span>
                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                  <span class="m-l-xs todo-completed">Item de uma lista</span>
                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                  <span class="m-l-xs">Item de uma lista</span>
                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                  <span class="m-l-xs">Outro item de uma lista qualquer</span>
                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                  <span class="m-l-xs">Item de uma lista</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
