<app-header-page></app-header-page>

<div class="wrapper wrapper-content">

  <!-- <p-sidebar [(visible)]="display" position="right" [baseZIndex]="10000" styleClass="ui-sidebar-md">
    <app-form-usuario (eventoConcluido)="handleEventoConcluido($event)" (closePanel)="handleClosePanel($event)"
      [usuario]="itemSelecionado"></app-form-usuario>
  </p-sidebar> -->


  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox ">
            <div class="ibox-title">
              <div class="ibox-tools">
                <button type="text" (click)="openPanel()" pButton class="btn btn-sm btn-primary float-left m-t-n-xs"><i
                    class="fa fa-plus"></i> Novo Usuário</button>
              </div>
            </div>
            <div class="ibox-content" id="gird-container">

              <app-placeholder-grid [show]="loadingDataGrid && hasInitialLoading"></app-placeholder-grid>

              <div id="tabela">
                <angular-slickgrid gridId="gridUsuario" [hidden]="loadingDataGrid && hasInitialLoading"
                  [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" [dataset]="dataset"
                  (onAngularGridCreated)="angularGridReady($event.detail)">
                </angular-slickgrid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>