<app-header-page></app-header-page>

<p-toast></p-toast>

<div *ngIf="alertError" class="alert alert-danger mt-3 mb-0">{{alertError}}</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox">
            <div style="min-height: 450px;" class="ibox-content" id="gird-container">
              <div class="d-flex justify-content-between mb-2">
                <h2>{{ titulo }}</h2>
                <div class=" d-flex">
                  <div>
                    <button class="btn btn-white mr-4" type="button" (click)="onClosePanel()">Cancelar</button>
                  </div>
                  <div>
                    <button [disabled]="loading" class="btn btn-primary float-right" (click)="onSubmit()">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      <span *ngIf="!loading" class="fa fa-save mr-1"></span>
                      Salvar
                    </button>
                  </div>
                </div>
              </div>
              <div [style]="{width: '100%', height: '500px'}">
                <div style="padding:1em">
                  <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="result$ | async as result">
                    <input type="hidden" formControlName="id">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Dia da semana</label>
                          <div>
                            <select class="form-control" formControlName="dia">
                              <option value="">Selecione</option>
                              <option *ngFor="let dia of diaSemana" [ngValue]="dia.id"> {{ dia.nome }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-12">
                              <label for="example-time-input">Hora inicial manhã</label>
                              <input class="form-control" type="time" formControlName="horaInicialManha">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-12">
                              <label for="example-time-input">Hora final manhã</label>
                              <input class="form-control" type="time" formControlName="horaFinalManha">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-12">
                              <label for="example-time-input">Hora inicial tarde</label>
                              <input class="form-control" type="time" formControlName="horaInicialTarde">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-12">
                              <label for="example-time-input">Hora final tarde</label>
                              <input class="form-control" type="time" formControlName="horaFinalTarde">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>