* {
  position: relative;
}

.itens {
  width: 97.5%;
  height: 300px;
  overflow-y: scroll;
  padding: 0 16px;
}

.opcoes {
  position: fixed;
  bottom: 40px;
}

p-checkbox {
  display: initial !important;
  vertical-align: text-bottom;
  align-items: center;
}
