<table class="table table-bordered" *ngIf="show">
  <thead>
    <tr>
      <th>
        <div class="animated-background"></div>
      </th>
      <th>
        <div class="animated-background"></div>
      </th>
      <th>
        <div class="animated-background"></div>
      </th>
      <th>
        <div class="animated-background"></div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
      <td>
        <div class="animated-background"></div>
      </td>
    </tr>
  </tbody>
</table>
