<app-header-page></app-header-page>

<p-toast></p-toast>

<div *ngIf="alertError" class="alert alert-danger mt-3 mb-0">{{alertError}}</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox">
            <div style="min-height: 250px;" class="ibox-content" id="gird-container">
              <div class="d-flex justify-content-between mb-2">
                <h2>{{ titulo }}</h2>
                <div class=" d-flex">
                  <div>
                    <button class="btn btn-white mr-4" type="button" (click)="onClosePanel()">Cancelar</button>
                  </div>
                  <div>
                    <button [disabled]="loading" class="btn btn-primary float-right" (click)="onSubmit()">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      <span *ngIf="!loading" class="fa fa-save mr-1"></span>
                      Salvar
                    </button>
                  </div>
                </div>
              </div>
              <div [style]="{width: '100%'}">
                <div style="padding:1em">
                  <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="result$ | async as result">
                    <input type="hidden" formControlName="id">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Nome</label>
                          <input type="text" placeholder="Nome" class="form-control" formControlName="nome"
                            [ngClass]="{ 'is-invalid': submitted && invalid('nome') }">
                          <div class="invalid-feedback" *ngIf="invalid('nome')">
                            <div *ngFor="let item of result.validators['nome']">{{ item.value }}</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12" *ngIf="!editando">
                        <div class="form-group">
                          <label>Parâmetro</label>
                          <select class="form-control" formControlName="ParametroId">
                            <option value=""></option>
                            <option *ngFor="let parametro of parametros" [value]="parametro.id">{{parametro.nome}}
                            </option>
                          </select>
                          <div class="invalid-feedback" *ngIf="invalid('parametroid')">
                            <div *ngFor="
                                let item of result.validators['parametroid']
                              ">
                              {{ item.value }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>