<app-header-page></app-header-page>

<p-toast></p-toast>

<div *ngIf="alertError" class="alert alert-danger mt-3 mb-0">{{alertError}}</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox">
            <div style="min-height: 450px;" class="ibox-content" id="gird-container">
              <div class="d-flex justify-content-between mb-2">
                <h2>{{ titulo }}</h2>
                <div class=" d-flex">
                  <div>
                    <button class="btn btn-white mr-4" type="button" (click)="onClosePanel()">Cancelar</button>
                  </div>
                  <div>
                    <button [disabled]="loading" class="btn btn-primary float-right" (click)="onSubmit()">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      <span *ngIf="!loading" class="fa fa-save mr-1"></span>
                      Salvar
                    </button>
                  </div>
                </div>
              </div>
              <div [style]="{width: '100%', height: '500px'}">
                <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="result$ | async as result">
                  <input type="hidden" formControlName="id">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Nome</label>
                        <input type="text" placeholder="Nome" class="form-control" formControlName="nome"
                          [ngClass]="{ 'is-invalid': submitted && invalid('nome') }">
                        <div class="invalid-feedback" *ngIf="invalid('nome')">
                          <div *ngFor="let item of result.validators['nome']">{{ item.value }}</div>
                        </div>
                      </div>
                    </div>
                    <label class="labelCheckbox">Ações de Acompanhamento</label>
                    <div class="itens" *ngIf="(acoesAcompanhamento$ | async) as acoesAcompanhamento;">
                      <div class="form-check" *ngFor="let acao of acoesAcompanhamento.value">
                        <div class="invalid-feedback" *ngIf="invalid('acoesAcompanhamento')">
                        </div>
                        <p-checkbox name="acoes" [value]="acao.id" [formControl]="form.controls['acaoacompanhamento']"
                          label="{{acao.nome}}"></p-checkbox>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>